li{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    display: inline;
    margin-right: 15px;
}

ul{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: purple;
    text-decoration: underline;
}

a:visited{
    color: red;
}