@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
    color: #423C3C;
    padding: 0px;
    margin: 0px;
    background-color: rgba(244, 237, 250, 0.938);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

img {
    width: 100%;
    /*height: auto /*nao funcionou*/
    height: 340px;
}

section{
    padding: 3%;
}

p{
    text-align: left;
    font-size: 14px;
    text-indent: 30px;      /*paragrafo primeira linha identacao*/
    line-height: 25px;      /*espacamento entre as linhas*/
    margin-bottom: 50px;
    letter-spacing: 1px;
    /*text-decoration: underline;   /*texto com underline*/
}

/*toda vez que tiver # 'e porque o estilo esta associado a um id*/
#section1{
    background-color: aquamarine;
}


#section2{
    background-color: chartreuse;
    padding: 0px;
}

.button{
    width: 200px;
    height: 40px;
}

div{
    width: 100%;
    margin-bottom: 15px;
}

div input{
    height: 40px;
}

iframe{
    border: 0px;
    height: 60px;
}

header{
    background-color: black;
    padding-top: 10px;
}